{% extends 'base.html' %}

{% block body %}

    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        <div id="carouselExampleControls" class="carousel slide mx-5 mb-2" data-bs-interval="0" data-bs-ride="carousel"
             style="height: 20rem; width: 30rem">
            <div class="carousel-inner d-flex">
                {% for image in object.images.all %}
                    <div style="height: 20rem; width: 30rem"
                         class="carousel-item {% if forloop.first %} active {% endif %}">
                        <img style="object-fit: contain;max-height: 100%" src="../../media/{{ image.file }}"
                             class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
                {% for video in object.videos.all %}
                    <div style="height: 20rem; width: 30rem" class="carousel-item">
                        <video style="height: 20rem; width: 30rem" class="d-block w-100" autoplay muted controls loop>
                            <source src="../../media/{{ video }}">
                        </video>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

        <div class="mt-2" style="max-width: 30rem">
            <h2>{{ object.name }}</h2>
            <div class="d-flex flex-row flex-wrap mb-3">
                {% for tag in object.tags.all %}
                    <p class="bg-dark rounded me-1 mb-1 p-1 text-white" style="font-size: 0.75rem">{{ tag }}</p>
                {% endfor %}
            </div>
            <p>{{ object.shortDesc }}</p>
            <p>{{ object.price }} $</p>
            <div class="d-flex mt-4 align-items-center">
                <p class="btn btn-primary m-0">Ajouter au panier</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'product_like' object.id %}" method="POST">
                        {% csrf_token %}

                        {% if post_is_liked %}
                            <button type="submit" name="product_id" value="{{ object.id }}" class="border-0 bg-white ms-3">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                        {% else %}
                            <button type="submit" name="product_id" value="{{ object.id }}" class="border-0 bg-white ms-3">
                                <i class="bi bi-heart"></i>
                            </button>
                        {% endif %}
                    </form>
                {% else %}
                    <a class="btn btn-outline-info mx-2" href="{% url 'login' %}?next={{ request.path }}">
                        Connecte toi pour like !</a><br>
                {% endif %}
                <strong>{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>

            </div>
        </div>
    </div>


    <p class="mt-3">{{ object.desc }}</p>

{% endblock %}